.icon-footer {
    margin: 5px;
    color: rgb(100, 30, 45);
}

.icon-footer:hover {
    color: rgb(100, 30, 45);
}

#foot-r2 {
    margin-top: 50px;
    display: block;
    color: rgb(100, 30, 45);
}
