* {
    margin: 0%;
    padding: 0%;
    font-size: 1rem;
}
main {
  min-height: 60vh;
}
#title {
    margin-bottom: 50px;
    font-size: 2rem;
    font-weight: 300;
}

#main-menu {
    font-family: "The Wild Breath of Zelda" !important;
    color: rgb(76, 30, 45) !important;
}

.btn-r2g {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #dc3545;
    border: 1px solid #dc3545;
}

.btn-r2g :hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
    text-decoration: none;
}

#logo {
    background-color : rgb(76, 30, 45);
}

#main-menu .nav-bar {
    list-style: none;
    margin-top: 40px;
}

#main-menu .nav-bar li {
    display: inline;
    padding: 0 10px;
}

#main-menu .nav-bar li a {
    text-decoration: none;
    padding-left: 25px;
    text-transform: uppercase;
    color: #333;
    text-shadow: 1px 1px 1px #ccc;
}

.txt {
    padding-left: 50% !important;
}

#page_co {
    text-align: center;
    padding-top: 10%;
}

#page_in {
    text-align: center;
    padding-top: 5%;
}

img {
    max-width: 250px;
    margin: 1%;
}

#ico {
    width: auto;
    height: auto;
}

#dropdownMenuLink {
    color: white;
    background-color: rgb(76, 30, 45);
    position: absolute;
    right: 5%;
    top: -45px;
}

#dropdownUserMenu {
    margin-right: 30px;
    width: 80px;
}

#titre {
    text-align: center;
    font-family: "The Wild Breath of Zelda";
    height: 13vh;
}

#titre h1 {
    margin-top: 5vh;
}

.footer {
  display: flex;
}


.switch {
    position: relative;
    display: flex;
    width: 60px;
    height: 34px;
}

#switch {
display: inline-flex;
flex-direction: row;
align-items: center;
margin-top: 5px;
}

#switch a {
font-size: 12px;
color: black;
margin-left: 1px;
}

#switch p {
font-size: 15px;
margin: 2px;
}



.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #4c1e2d;
}

input:focus+.slider {
    box-shadow: 0 0 1px #4c1e2d;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#form {
  display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    text-align: center;
    flex-direction: column;
}

#form p {
  margin-top: .5rem;
}


#contenu {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
  }

  #contenu__top {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #contenu__text {
    min-width: 15%;
    max-width: 15%;
  }
  #contenu__chat {
    display: inline-flex;
    justify-content: flex-end;
    flex-direction: column;
    min-width: 15%;
    max-width: 15%;
  }

  #contenu__diapos {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 60%;
  }

  #contenu__diapos__mini-diapos {
    min-height: 20%;
  }

  #contenu__diapos__selected {
    min-height: 75%;
  }
  .content {
      border: 1px solid black;
  }

.button {
  background-color: #FFF;
  border: none;
  color: 4c1e2d;
  width: 200px;
  border-radius: 15px;
  transition: 0.5s ease;
  border: 2px solid #4c1e2d;
  margin: 2px;
}

.button a {
  color: #4c1e2d;
}

 .button:hover a {
  text-decoration: none;
  color: white;
}

.button:hover {
color: white;
background-color: #4c1e2d;
border: 2px solid #4c1e2d;
transition: 0.5s ease;
}

#button-co {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 50vh;
}

#button-co .button {
  margin: 10px;
}
