#navigation-r2 {
    margin-bottom: 20px;
}

.nav-r2 {
    color:  rgb(76, 30, 45);
    font-weight: 500;
    font-kerning: none;
}
.nav-r2:hover {
    background-color:  rgb(76, 30, 45);
    color: white;
}